@media (max-width: 576px) {
    body {
        font-size: 12px!important;
    }

    .carousel-index .carousel__index__about {
        display: none;
    }
}


@media (max-width: 768px) {
    .product_specialist_item .product_specialist_item__search input {
        width: 100%;
    }

}


@media (max-width: 992px) {
    .general_introduction__items {
        position: relative;
    }
}